<button type="button" class="cart-icon btn btn-lg btn-link" (click)="toggle()">
  <i class="fas fa-shopping-cart"></i>
</button>
<div id="cart" [hidden]="hiddenCart">
  <ng-container *ngIf="cart$ | async as cart; else noItems">
    <ul class="list-group">
      <ng-container *ngIf="cart.items.length; else noItems">
        <li *ngFor="let item of sortByName(cart.items)"
            class="list-group-item cart-item d-flex align-items-center justify-content-between">
          <span>{{item.name}} ({{item.priceInUsd | currency: 'USD'}} per unit) <span
            class="badge badge-primary badge-pill">{{item.inCart}}</span></span>
          <button type="button" class="remove-from-cart btn btn-danger btn-sm" (click)="removeItem(item)">Remove all
          </button>
        </li>
        <li class="list-group-item"><a class="btn btn-outline-primary" [routerLink]="'checkout'">Check out</a></li>
      </ng-container>
    </ul>
  </ng-container>

  <ng-template #noItems>
    <li class="list-group-item text-center" id="no-items">Nothing in cart: buy buy buy! 💰</li>
  </ng-template>
</div>
