#cart {
  position: absolute;
  top: 10px;
  left: 100%;
  width: max-content;
  z-index: 999;

  .remove-from-cart {
    margin-left: 10px;
  }
}

@media (max-width: 991px) {
  #cart {
    top: 60px;
    left: 0;
  }
}
