name: CI

on:
  push:
    branches:
      - '**'
  pull_request: {}

jobs:
  unit:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 13
      - name: Build with NPM
        run: |
          npm ci
          npm test
  e2e:
    name: Run end-to-end tests
    runs-on: ubuntu-latest
    needs: unit
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 13
      - name: Run e2e tests
        run: |
          docker run -d -p 8080:8080 --rm projectriffdemo/inventory-api
          sleep 20
          npm ci # TODO: loop/curl actuator health endpoint instead
          npm run -- webdriver-manager update --versions.chrome="$(google-chrome --version | cut -d ' ' -f 3)"
          npm run -- ng e2e --webdriver-update=false
  publish:
    name: Publish Docker image
    runs-on: ubuntu-latest
    needs: e2e
    if: success() && github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 13
      - name: Publish Docker image
        run: |
          echo ${DOCKERHUB_PASSWORD} | docker login --username ${DOCKERHUB_USERNAME} --password-stdin
          docker build -t ${DOCKERHUB_ORGANIZATION}/storefront .
          docker push ${DOCKERHUB_ORGANIZATION}/storefront
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
          DOCKERHUB_ORGANIZATION: ${{ secrets.DOCKERHUB_ORGANIZATION }}
